apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ####
    server: ####
  name: kubi
contexts:
- context:
    cluster: kubi
    user: developer
  name: dev
- context:
    cluster: kubi
    user: sysadmin
  name: sysadmin
current-context: dev
kind: Config
preferences: {}
users:
- name: developer
  user:
    password: developer
    username: developer
- name: sysadmin
  user:
    client-certificate-data: ####
    client-key-data: ###
